<p id="notice"><%= notice %></p>

<p>
  <b>Firstname</b>
  <%= @contact.first_name %>
</p>

<p>
  <b>Lastname</b>
  <%= @contact.last_name %>
</p>

<p>
  <b>Email</b>
  <%= @contact.email %>
</p>

<p>
  <b>Phone Number</b>
  <%= @contact.phone_number %>
</p>

<p>
  <b>Picture:</b>
	<%= image_tag @contact.picture.url %>
	<%= image_tag @contact.picture.url(:medium) %>
	<%= image_tag @contact.picture.url(:thumb) %>
</p>




<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>